/frontend/node_modules
/frontend/dist
*.db
*.db-journal
*.keys
*.log
/build
/debian/.debhelper/
/debian/opennhrp-manager/
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper*
/debian/*.substvars
/deploy/Caddyfile
