[Unit]
Description=OpenNHRP Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
StateDirectory=opennhrp-manager
EnvironmentFile=/etc/opennhrp-manager/manager.env
ExecStart=/usr/sbin/opennhrp-manager
Restart=on-failure
RestartSec=3
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
